<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pacientes</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<h2>Lista de Pacientes</h2>
<table>
    <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Género</th>
        <th>Diagnóstico</th>
        <th>Fecha Cita</th>
        <th>N° Habitación</th>
    </tr>
    <tr th:each="paciente : ${pacientes}">
        <td th:text="${paciente.nombre}"></td>
        <td th:text="${paciente.edad}"></td>
        <td th:text="${paciente.genero}"></td>
        <td th:text="${paciente.diagnostico}"></td>
        <td th:text="${#dates.format(paciente.fechaCita, 'yyyy-MM-dd')}"></td>
        <td th:text="${paciente.numeroHabitacion}"></td>
    </tr>
</table>
</body>
</html>
