<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pacientes</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<h2>Pacientes</h2>

<a th:href="@{/pacientes/derivar}">
    <button>Derivar pacientes</button>
</a>

<table>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Género</th>
        <th>Doctor</th>
        <th>Hospital</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${pacientes}">
        <td th:text="${p.nombre}"></td>
        <td th:text="${p.edad}"></td>
        <td th:text="${p.genero}"></td>
        <td th:text="${p.doctor.nombre}"></td>
        <td th:text="${p.hospital.nombre}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
