<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Próximas Citas</title>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<h2>Próximas Citas</h2>

<table>
    <thead>
    <tr>
        <th>Paciente</th>
        <th>Edad</th>
        <th>Género</th>
        <th>Diagnóstico</th>
        <th>Fecha</th>
        <th>Habitación</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${citas}">
        <td th:text="${p.nombre}"></td>
        <td th:text="${p.edad}"></td>
        <td th:text="${p.genero}"></td>
        <td th:text="${p.diagnostico}"></td>
        <td th:text="${#dates.format(p.fechaCita, 'yyyy-MM-dd')}"></td>
        <td th:text="${p.numeroHabitacion}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
